# -------------------------------
# Exported Docker images
# -------------------------------
srcs/images/*.tar

# -------------------------------
# Secrets
# -------------------------------
secrets/*.txt

# -------------------------------
# Temporary system files
# -------------------------------
*.swp
*.tmp
*.bak
*.DS_Store

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Enviroment variables
# -------------------------------
*.env
