# -------------------------------
# Docker images exportadas
# -------------------------------
srcs/images/*.tar

# -------------------------------
# Secrets
# -------------------------------
secrets/*.txt

# -------------------------------
# Archivos temporales del sistema
# -------------------------------
*.swp
*.tmp
*.bak
*.DS_Store

# -------------------------------
# Logs
# -------------------------------
*.log
